.footer 
{
  text-align: center; 
  bottom:0; 
  position: absolute; 
  padding-top: 60px; 
}
  
  
// reference to codepen.io 
//reference to http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page
// reference to http://v4-alpha.getbootstrap.com/examples/sticky-footer-navbar/
